/* 
==========================================================================
Header Styles
========================================================================== 
*/

.site-header {
    border-top: solid 4px $gray; 
    position: relative;
    z-index: 9999;
}


.branding {
    padding: 0.5em 0;
    @extend .clearfix;
    position: relative;

    @media #{$small-up}{
        width: 70%;
        margin: 0;
        float: left;
    }
    @media #{$medium-up}{
        width: 100%;
    }

    @media #{$standard-up}{
        width: 100%;
        padding-top: 0.5em;
    }

    @media #{$portrait-up}{
        padding-top: 0;
        width: 90%;
    }
    @media #{$large-up}{
        width: 100%;
        margin-top: -2em;
    }
}

.logo {
    display: block;
    width: 75%;
    max-width: 11em;
    padding: 1em 0;
    text-align: center;
    margin: 0 auto;

    @media #{$small-up}{
        width: 60%;
        margin: 0;
        float: left;
    }

    @media #{$medium-up}{
        max-width: 30%;
        padding: 0;
        position: relative;
        left: 0;
        margin: 0;

    }

    @media #{$portrait-up}{
        width: 25%;
        max-width: 13em;
        padding-top: 0;
    }
    @media #{$large-up}{
        top: 1em;
        max-width: 16em;
        width: 30%;
    }
}


$logo-name-large: 2.25rem;
.logo-name {
    display: none;

    .logo-main { 
        font-variant: small-caps;
        font-size: $logo-name-large;
        color: #0e4b2f;
    }

    .logo-sub { 
        text-transform: uppercase;
        color: #999;
        font-size: $logo-name-large * 0.65;
        letter-spacing: 0.2em;
    }

    @media #{$medium-up}{
        display: block;
        position: relative;
        width: 70%;
        line-height: 0.6em;
        float: left;
        padding: 0 0 0 0.5em;
        margin: 12% 0 0;
        
        .logo-main { font-size: $logo-name-large * 0.85; }
        .logo-sub { font-size: $logo-name-large * 0.5; }
    }

    @media #{$portrait-up}{
        margin-top: 9.5%;
        padding-left: 0.5em;
        width: 75%;

        .logo-main { font-size: $logo-name-large * .9; }
        .logo-sub { font-size: $logo-name-large * .45; }
    }

    @media #{$standard-up}{
        //margin-top: 1.75em;
        //line-height: 0.55em;
        width: 60%;
        margin-top: 2em;
        .logo-main { font-size: $logo-name-large * 1; }
        .logo-sub { font-size: $logo-name-large * 0.55; }   
    }
    @media#{$landscape-up}{
        line-height: 0.8em;
        //padding-top: 0.65em;
        .logo-main { font-size: $logo-name-large * 1.15; }
        .logo-sub { font-size: $logo-name-large * 0.75; }      
    }
    @media#{$large-up}{
        width: 65%;
        margin-top: 3.25em;
    }
}



// Orvis Logo - Only show on standard up

.orvis-logo-header {
    display: none;
    
    @media #{$standard-up}{
        display: block;
        float: left;
        width: 15%;
        padding: 0 1.75em;
        margin-top: 4.5em;
    }
    @media #{$large-up}{
        float: right;
        width: 10%;
        padding: 0;
        margin-top: 7em;
        max-width: 6em;
    }
}

// Top Links

.global-nav {
    display: none;

    ul { margin: 0; }

    @media #{$portrait-up} {
        padding: .25em 0 0;
        list-style: none;
        margin: 0;
        text-align: right;
        display: block;
        float: right;

        li {
            display: inline-block;
            padding: 0 .5em;
        }

        a {
            text-transform: uppercase;
            font-size: 0.75em;
            color: $gray;
            
            &:hover {
                color: $charcoal;    
            }

            &.active {
                color: $charcoal;
                font-weight: 700;
            }
        }
    }
}


// Mobile Menu Button


.menu-btn {
    display: block;
    padding: 1em 2em;
    margin: .75em 0;
    border: solid 1px $orange;
    border-radius: 3px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.85em;

    &:hover {
        background-color: $orange;
        color: white;
    }

    @media #{$small-up}{
        width: 20%;
        float: left;
        margin: 7em 0 0;
        padding: 1em;
    }

    @media #{$medium-up}{
        width: 100%;
        clear: both;
        margin-top: 0;
        padding: 1em;
    }

    @media #{$portrait-up}{
        clear: none;
        width: 10%;
        margin-top: 4em;
    }

    @media #{$standard-up}{
        width: 8%;
        margin-top: 5em;
    }

    @media #{$large-up}{
        display: none;
    }
}


.main-nav {
    clear: both;

    @media #{$standard-up}{
        padding: 0;
    }
}

    
