/* 
==========================================================================
Main Navigation
========================================================================== 
*/


nav {
	display: none;
	@extend %reset-list;
	@extend .clearfix;
	text-align: center;
	border-top: solid 1px $gray;
	margin-bottom: 2em;

	ul { margin: 0; }

	li { 
		border-bottom: solid 1px $gray; 	
	}
	
	a {
		display: block;
		color: $gray;
		font-size: 1.1em;
		font-weight: 700;
		padding: 1em;

		&.active {
			@extend %btn;
			color: white;
		}

		&:hover {
			color: $charcoal;
		}
	}
	
	@media #{$large-up}{
		display: block;
		margin-bottom: 0;
	
		li {
			margin: 1em 1%;
			border-bottom: none;
			display: inline-block;
		}

		li a {
			padding: 0.5em;
			font-size: 0.9em;
		}
	}

	@media #{$xlarge-up}{
		li { 
			margin: 0.5em 1.25%; 

			a { font-size: 1.1em; }
		}
	}
}


// .sticky {  
//     position: fixed;  
//     width: 100%;
//     left: 0;  
//     top: 0;  
//     z-index: 100;  
//    	// border-bottom: solid 1px $charcoal;
//    	background-color: rgba(white, 0.95);
//    	box-shadow: 0px 2px 4px rgba($charcoal, 0.35);
// } 

