.overlay-menu {
    position: relative;
    margin: 0;
    list-style: none;
    padding-left: 0;
    width: 100%;
    z-index: 1000;
    bottom: 0;
}

    .overlay-menu li {
        margin: 0;
        padding: 0;
    }

        .overlay-menu-item {
            display: block;
            padding: 1em 2em; 
            border-bottom: solid 1px $gray;
            background-color: $light-gray;
            color: $charcoal;
            font-style: italic;
            font-size: 1.5em;
            overflow: hidden;
            @include animate(all, 0.2s, easein);

            @media #{$portrait-up}{
                display: block;
                float: left;
                width: 25%;
                background-color: rgba($charcoal, 0.5);
                color: white;
                border: none;
                border-right: solid 1px $gray;

                &:hover {
                    color: white;
                    background-color: $orange;
                }
            }
        }



.title {
    margin: 0;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5em;
}

.desc {
    display: none;
    opacity: 0;
    @include animate(opacity, 2s, linear);
}

.view-btn {
    display: inline-block;
    padding: 0.5em 0.75em;
    border: solid 1px white;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    width: auto;
    font-weight: 700;

    &:hover {
        background-color: white;
        color: $orange;
    }
}




.current-page-item {
    //@extend .overlay-menu-item;
    color: white;
    background-color: $orange;
}










