/* These are styles that needed tweaking after implementing in Wordpress */

@media only screen and (min-width: 768px) {
    .global-nav {
      padding: .25em 0 0;
      list-style: none;
      margin: 0;
      text-align: right;
      display: block;
      float: right; }
      .global-nav ul {
        margin: 0;
      }
      .global-nav li {
        display: inline-block;
        padding: 0 .5em; }
      .global-nav a {
        text-transform: uppercase;
        font-size: 0.75em;
        color: #848484; }
        .global-nav a:hover {
          color: #252525; }
        .global-nav a.active {
          color: #252525;
          font-weight: 700; } }
 nav ul {
    margin: 0;
  }

.ngg-gallery-thumbnail img
  {
    margin: 0 !important;
    border: none !important;
  }

.ngg-gallery-thumbnail-box
{
  margin-right: 0 !important;
}

.current-menu-item a
{
  border-radius: 3px;
  background-color: #F26522;
  color: white;
}

.nav-menu ul
{
  padding: 0;
}

.footer-right .social-links a.social-pinterest {
        background-position: -48px top; 
}

.footer-right .social-links a.social-pinterest:hover {
  background-position: -48px bottom; 
}

.footer-right .social-links a.social-facebook {
        background-position: -94px top; 
}

.footer-right .social-links a.social-facebook:hover {
          background-position: -94px bottom; 
}

.main-nav
{
  z-index: 9999;
}

.player .title
{
  display: none;
}

.page-banner {
  position: relative !important;
  background-color: #252525 !important;
  background-position: center center !important;
  background-size: cover !important; 
}
