
/* 
==========================================================================
Animate properties
========================================================================== 
*/


@mixin animate ($property, $duration, $easing) {
    -webkit-transition-property: $property;
    -moz-transition-property: $property;
    transition-property: $property;
    -webkit-transition-duration: $duration;
    -moz-transition-duration: $duration;
    transition-duration: $duration;
    -webkit-transition-timing-function: $easing;
    -moz-transition-timing-function: $easing;
    transition-timing-function: $easing;
}

/* 
==========================================================================
Misc
========================================================================== 
*/

%reset-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 0;
        padding: 0;
    }
}



%btn {
    border-radius: 3px;
    background-color: $orange;
    padding: 0.5em 1em;

    &:hover {
        color: white;
        background-color: $orange - #222;
    }
}
