/* 
==========================================================================
Typography
========================================================================== 
*/

/* Cardo font: Google Web font */
@import url(http://fonts.googleapis.com/css?family=Cardo);

/* Source Sans font: Google Web font */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900,300italic,400italic,900italic);


body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

/* 
==========================================================================
Links
========================================================================== 
*/

a {
    color: #f26522;
    text-decoration: none;
    @include animate(all, 0.2s, easein);
}

a:hover {
    color: #dc4700;
}


/* 
==========================================================================
Headings
========================================================================== 
*/

h1, h2, h3 {
    font-family: 'Cardo', serif;
    font-weight: normal;
}

h1 { 
    font-size: 2.25em;
    line-height: 1.25em;
}

h2 { 
    font-size: 2.2em;
}

h3 {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.5em;
}

h4 {
    font-size: 1.15em;
    font-weight: 700;
}

h5 {

}


h6 {
    font-size: 1em;
    font-weight: 900;
    margin: 1em 0 0.5em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}


/* 
==========================================================================
Components
========================================================================== 
*/

.contact-btn {
    @extend %btn;

    display: inline-block;
    font-weight: 700;
    color: white;
    margin-top: 1em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}


// Apply to <hr> to get dotted line effect.
.dotted {
    overflow: hidden;
    height: 16px;
    border: none;
    color: white;
    margin: 1em 0 0;
    letter-spacing: 0.3em; 
    font-weight: 400;
    
    // change letter-spacing to modify spacing of dots
    &:after {
        content: "..........................................................................................................................................................................................................................................................................................................................................."
    }
}

.dotted-dark {
    @extend .dotted;
    color: $gray;
}









