/* 
==========================================================================
Main Navigation
========================================================================== 
*/

nav {
	display: none;
	margin-bottom: 1em;
	list-style: none;
	text-align: center;	

	li {
		padding: 0.25em 0;
		border-bottom: solid 1px $gray;
	}
	
	a {
		display: block;
		padding: 1em;
		font-weight: 700;
		color: $gray;

		&.active {
			@extend %btn;
			color: white;
			padding: 1em;
		}

		&:hover {
			color: $charcoal;
		}
	}

	@media #{$standard-up}{
		display: block;
		border-top: solid 1px $gray;
		padding: 0.25em 0; 
		margin-bottom: 0.5em;
	
		li {
			display: inline-block;
			margin: 0 1%;
			border-bottom: none;

			a {
				padding: 0.5em;
				font-size: 0.8em;
				
				&.active {
					padding: 0.5em;
				}
			}
		}
	}
	@media #{$large-up}{

		li { 
			margin: 0 1.25%; 

			a { font-size: 1em; }
		}
	}

	@media #{$xlarge-up}{
		li { margin: 0 2%; }
	}
}

.menu-btn {
	display: block;
	padding: 1em 2em;
	margin: .75em 0;
	border: solid 1px $orange;
	border-radius: 3px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;

	&:hover {
		background-color: $orange;
		color: white;
	}

	@media #{$standard-up}{
		display: none;
	}
}



.sticky {  
    position: fixed;  
    width: 100%;
    left: 0;  
    top: 0;  
    z-index: 100;  
   	// border-bottom: solid 1px $charcoal;
   	background-color: rgba(white, 0.95);
   	box-shadow: 0px 2px 4px rgba($charcoal, 0.35);
} 

