/* 
==========================================================================
Typography
========================================================================== 
*/


/* Marion Font: Licensed */
@import url("//hello.myfonts.net/count/293632");

/* Source Sans font: Google Web font */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900,300italic,400italic,900italic);

@font-face {
    font-family: 'Marion-Regular';
    src: url('webfonts/293632_0_0.eot');
    src: url('webfonts/293632_0_0.eot?#iefix') format('embedded-opentype'),
         url('webfonts/293632_0_0.woff') format('woff'),
         url('webfonts/293632_0_0.ttf') format('truetype');
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}



a {
    color: #f26522;
    text-decoration: none;
    @include animate(all, 0.2s, easein);
}

a:hover {
    color: #dc4700;
}



h1, h2 {
    font-family: 'Marion-Regular', serif;
    font-weight: normal;
}

h1 { line-height: 4rem; }
h2 { line-height: 2.65rem; }

h3, h4, h5 {
    line-height: 2rem;
}

h1 {
    font-size: 2.25rem;
    line-height: 1.25em;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
}

h4 {
    font-size: 1.15rem;
    font-weight: 700;
}


h6 {
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.5rem;
    margin: 1em 0 0.5em;
}

p {
    // font-size: 1em;
}


%btn {
    border-radius: 3px;
    background-color: $orange;
    padding: 0.5em 1em;

    &:hover {
        color: white;
        background-color: $orange - #222;
    }
}



.contact-btn {
    @extend %btn;

    display: inline-block;
    font-weight: 700;
    color: white;
    margin-top: 1em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}


// Apply to <hr> to get dotted line effect.
.dotted {
    overflow: hidden;
    height: 16px;
    border: none;
    color: white;
    margin: 1em 0 0;
    letter-spacing: 0.3em; 
    font-weight: 400;
    
    // change letter-spacing to modify spacing of dots
    &:after {
        content: "..........................................................................................................................................................................................................................................................................................................................................."
    }
}

.dotted-dark {
    @extend .dotted;
    color: $gray;
}


small {
    opacity: 0.6;
}









