

/* Overall site wrapper */
.site-wrapper {

}



/* 
==========================================================================
Home page styles
========================================================================== 
*/

.home-banner.wrapper {
    padding: 0;
    position: relative;
}

.home-intro {
    padding: 1em 0;
    text-align: center;
}

    .home-intro h1 {
        font-size: 1.75rem;
    }

    .home-intro h3 {
        display: none;
        font-style: italic;
        font-weight: 400;
    }

.arrow-container {
    // padding: 0 1em;
    width: 10%;
}

    .arrow.right {
        float: right;
        margin-right: 0;
    }


.slideshow { 
    position: relative; 
    height: auto;

}






/* Hold Feature Banner Image | Acts as container for rotation */
.feature-image {
    top: 0;
}


a.arrow {
    display: inline-block;
    border-radius: 5em;
    border: solid 1px white;
    color: #fff;
    width: 1.6em;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    margin-right: 1em;
}
    a.arrow:hover {
        background-color: #fff;
        color: $charcoal;
    }


